@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Global variables to be defined here */
  --color-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  scroll-behavior: smooth;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}


/* custom css */

.scroll_container {
  transition: all 0.01s ease-in-out;
  /* display: flex; */
  overflow: auto;
  /* flex-direction: column; */
  scroll-snap-type: y mandatory;
}

.scroll_item {
  min-height: 100%;
  scroll-snap-align: start;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(105, 97, 97);
  visibility: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(181, 176, 176);
  visibility: hidden;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(170, 163, 163);
  visibility: hidden
}
